h1 {
  text-align: center;
}

}

.color{
  background-color: ##B5B5B ;
}

.bon{
  font-size: 30px;
  text-align: center;
  background-color: ;
}

  .bong{
    font-size: 25px;
    background-color:#B5B5B ;
}
.navbar {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0; /
  width: 100%;
}
.navbar a {
  float:left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.navbar a:hover {
  background: #ddd;
  color: black;
}
.main {
  font-size: 200px;
  margin-top: -200px;
text-indent: 0px;
padding-top: 00px;
padding-right:400px;
background-color: ;
}
.pic{
  padding-top: 150px;
  padding-bottom: 10px;
  padding-left: 550px
}
*{
  font-family: 'Baloo', cursive;
  padding:0;
  margin:0;
  background: black
  background-image: url('images/mimi.jpg');
}
.btn{
  color: white;
  font-size: 53px;
  font-weight: bold;
  font-family:
  padding left:px;
  top: opx;
  background-color: red;
}
.para{
  padding-left: 20px;
  font family: 'Baloo', cursive;;
  font-size: 30px;
  color: white;
  background-color: black;
  padding-bottom:10px:
}
#pro{
  text-decoration:
 font-weight:600;
  font-family:times ;
}
