h1 {
  text-align: center;
}

}

.color{
  background-color:#eee;
}

.bon{
  font-size: 25px;
  text-align: center;
  background-color: ;
}

  .bong{
  font-size: 25px;
  background-color:#B5B5B ;
}
.navbar {
  overflow: hidden;
  background-color: #eee;
  position: fixed;
  top: 0; /
  width: 100%;
}
.navbar a {
  float:left;
  display: block;
  color:black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 25px;
}
.navbar a:hover {
  background: black;
  color: red;
  font-size: 20px;
}
.main {
  font-size: 200px;
  margin-top: -540px;
  line-height: 100px;
  text-indent: opx;
  padding-top: 00px;
  padding-right:600px;
  background-color: ;
}
.pic{
  padding-top: 100px;
  padding-bottom: 10px;
  padding-left: 1000px
}
*{
  font-family: 'Baloo', cursive;
  padding:0;
  margin:0;
  background: black
  background-image: url('images/mimi.jpg');

}
.btn{
  color: white;
  font-size: 53px;
  font-weight: bold;
  line-height: 20px
  font-family:
  padding left:px;
  top: opx;
  background-color: red;
}
.para{
  padding-left: 50px;
  font family: 'Baloo', cursive;;
  font-size: 30px;
  color: white;
  background-color: black;
  padding-bottom:1px:
}
#pro{
  text-decoration:
  font-weight:600;
  font-family:times ;
}
.mail{
  margin-left: 0;
  position: relative;
  top:200px;
  font-size: 25px;

  text-align: center;

}
.imp{
  font-size: 200px;
}
